<h1>Signup!</h1>

<div class="container">
  <h1 class="well">Registration Form</h1>
  <div class="well">
        <%= form_for :user, url: '/users' do |f| %>
          <div>
            <div class="row text-center">
              <div class="form-group">
                <label>Name</label>
                <%= f.text_field :name %>
              </div>
              <div class="form-group">
                <label>Email</label>
                <%= f.text_field :email %>
              </div>
              <div class="form-group">
                <label>Password</label>
                <%= f.password_field :password %>
              </div>
              <div class="form-group">
                <label>Password Confirmation:</label>
                <%= f.password_field :password_confirmation %>
              </div>
            </div>					
          <%= f.submit "Submit" %>
          </div>
        <% end %>
  </div>
</div>